window {
    background-color: rgba(1, 22, 39, 0.85);
}

button {
    background-color: #1e3140;
    color: #7fdbca; 
    border-style: solid;
    border-width: 2px;
    border-color: #1e3140;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center 25%; /* Icono un poco más arriba */
    background-size: 30%; 
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

button:focus, button:hover {
    background-color: #82aaff;
    border-color: #82aaff;
    color: #011627;
    transform: scale(1.05);
}

#reboot { color: #addb67; }
#shutdown { color: #ef5350; }

/* Iconos */
#lock { background-image: url("/usr/share/wlogout/icons/lock.png"); }
#logout { background-image: url("/usr/share/wlogout/icons/logout.png"); }
#suspend { background-image: url("/usr/share/wlogout/icons/suspend.png"); }
#hibernate { background-image: url("/usr/share/wlogout/icons/hibernate.png"); }
#shutdown { background-image: url("/usr/share/wlogout/icons/shutdown.png"); }
#reboot { background-image: url("/usr/share/wlogout/icons/reboot.png"); }
