window {
    margin: 0px;
    border: 2px solid #82aaff;
    background-color: rgba(1, 22, 39, 0.95);
    border-radius: 15px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

#input {
    margin: 10px;
    border: none;
    background-color: #1e3140;
    color: #d6deeb;
    border-radius: 10px;
    padding: 10px;
}

#inner-box { margin: 5px; }
#outer-box { margin: 5px; }

#text {
    margin: 5px;
    color: #d6deeb;
}

#entry:selected {
    background-color: #1e3140;
    border-radius: 10px;
}
#entry:selected #text {
    color: #addb67;
    font-weight: bold;
}
