* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(1, 22, 39, 0.85); /* Azul Night Owl transparente */
    border-radius: 12px;
    color: #d6deeb;
}

#workspaces button {
    padding: 0 10px;
    color: #575656; /* Gris apagado para los inactivos */
    background: transparent;
}

#workspaces button.focused {
    color: #82aaff; /* Azul brillante para el activo */
}

#workspaces button.urgent {
    color: #ef5350; /* Rojo suave para alertas */
}

/* Agrupamos TODOS los módulos aquí para que tengan el mismo 
  fondo, bordes redondeados y márgenes. 
*/
#clock, #pulseaudio, #network, #tray, #window, #temperature, #cpu, #memory, #bluetooth {
    padding: 0 14px;
    margin: 4px 4px;
    border-radius: 8px;
    background-color: #1e3140; /* Fondo de cada píldora */
}

/* =========================================================
   COLORES INDIVIDUALES (Paleta Night Owl sin Morado)
   ========================================================= */
#clock { color: #ecc48d; }        /* Oro */
#pulseaudio { color: #7fdbca; }   /* Cyan / Teal (Reemplaza al morado) */
#network { color: #addb67; }      /* Verde Lima */
#bluetooth { color: #82aaff; }    /* Azul brillante */
#cpu { color: #82aaff; }          /* Azul brillante */
#memory { color: #f78c6c; }       /* Naranja suave */
#temperature { color: #ff5874; }  /* Rojo rosado */
